#hak_id_1313530614577749389{
  background-color-index: 0;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 960px;
  height: 540px;
}
#hak_id_1313530637240599256{
  color-index: 7;
  top: 4px;
  left: 3px;
  bottom: auto;
  right: auto;
  width: 954px;
  height: 536px;
}
#hak_id_1313530693401967309_d{
  color-index: 7;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  width: 292px;
  height: 43px;
}
#hak_id_1313530693401967309{
  width: 292px;
  height: 43px;
  left: 99px;
  top: 127px;
  right: auto;
  bottom: auto;
}
#hak_id_1313530943804710406_d{
  color-index: 7;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  width: 292px;
  height: 43px;
}
#hak_id_1313530943804710406{
  width: 292px;
  height: 43px;
  left: 486px;
  top: 238px;
  right: auto;
  bottom: auto;
}
#hak_id_1313530950296519042_d{
  color-index: 7;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  width: 292px;
  height: 43px;
}
#hak_id_1313530950296519042{
  width: 292px;
  height: 43px;
  left: 183px;
  top: 367px;
  right: auto;
  bottom: auto;
}
#hak_id_1313531256653443898{
  top: 3px;
  left: 3px;
  bottom: auto;
  right: auto;
  width: 954px;
  height: 534px;
}
#hak_id_131353133605651835{
  top: 34px;
  left: 28px;
  bottom: auto;
  right: auto;
  width: 360px;
  height: 237px;
}
#hak_id_1313531345246445610{
  top: 19px;
  left: 576px;
  bottom: auto;
  right: auto;
  width: 360px;
  height: 357px;
}
#hak_id_1313531349218187550{
  top: 159px;
  left: 350px;
  bottom: auto;
  right: auto;
  width: 242px;
  height: 360px;
}
#hak_id_1313531384103534989_d{
  color-index: 7;
  font-size: 20px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  text-align: center;
  width: 150px;
  height: 30px;
}
#hak_id_1313531384103534989{
  width: 150px;
  height: 30px;
  left: 17px;
  top: 464px;
  right: auto;
  bottom: auto;
}
#hak_id_1313530693401967309_f{
  color-index: 0;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  background-color-index: 7;
  width: 292px;
  height: 43px;
}
#hak_id_1313530693401967309_a{
  color-index: 0;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  background-color-index: 79;
  width: 292px;
  height: 43px;
}
#hak_id_1313530943804710406_f{
  color-index: 0;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  background-color-index: 7;
  width: 292px;
  height: 43px;
}
#hak_id_1313530943804710406_a{
  color-index: 0;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  background-color-index: 79;
  width: 292px;
  height: 43px;
}
#hak_id_1313530950296519042_f{
  color-index: 0;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  background-color-index: 7;
  width: 292px;
  height: 43px;
}
#hak_id_1313530950296519042_a{
  color-index: 0;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  padding-top: 10px;
  background-color-index: 79;
  width: 292px;
  height: 43px;
}
#hak_id_1313531384103534989_f{
  color-index: 7;
  font-size: 20px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  text-align: center;
  width: 150px;
  height: 30px;
}
#hak_id_1313531384103534989_a{
  color-index: 0;
  font-size: 20px;
  border-style: solid;
  border-color-index: 7;
  border-width: 1px;
  text-align: center;
  background-color-index: 7;
  width: 150px;
  height: 30px;
}
